.hero {
    overflow: hidden;
    background-color: white;
}

.hero__img {
    width: 27rem;
    position: relative;
    left: 1.5rem;
}

.hero__content {
    padding: 2rem;
    padding-bottom: 10rem;
    text-align: center;
}

.hero__title {
    font-size: 2rem;
    line-height: 2.5rem;
}

.hero__subtitle {
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.hero__btn {
    width: 9.5rem;
    height: 2.7rem;
    border-radius: 2rem;
}

@media screen and (min-width: 1024px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .hero__content,
    .hero__img {
        padding-top: 1.5rem;
        padding-bottom: 10rem;
        grid-row: 1;
    }

    .hero__content {
        padding-left: 5rem;
        padding-right: 0;
        text-align: left;
        grid-column: 1;
        width: 105%;
    }

    .hero__title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .hero__subtitle {
        font-size: 0.85rem;
        line-height: 1.7rem;
        margin-top: 0;
    }

    .hero__img {
        position: relative;
        left: 6rem;
        width: 31rem;
        object-fit: contain;
        grid-column: 2;
    }
}